{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}


<class="phone" style="font-size:20px;">
  <img src="https://cdn.shopify.com/s/files/1/0141/2644/8726/files/44A75AB8-33E0-4A3E-8246-96AE22AE4BA2.png?v=1654683648" alt="phone" style=“width:30px;height:30px;">
<a href="tel:Call Us: 020 8124 6750"> Call Us: 020 8124 6750</a></li>